<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/demo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/demo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mydemo"
        tools:targetApi="31">
        <activity
            android:name=".myrpofile.MyProfilePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.audio.UiAudioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.photo.UiPhotoViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.imageview.card.UiImageViewDetailCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.imageview.UiImageViewDetailNewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.imageview.UiImageViewDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.imageview.UiImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.UiCameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tv.UiTvActivity"
            android:exported="false" />
        <activity
            android:name=".ui.code.UiCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.data.UiDataDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.detaildemo.UiDetailDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chart.ChartActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.threed.ThreeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.blog_articles.UiDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.blog_articles.UiListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".main.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="esa.mydemo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>